header{
  text-align: center;
}

figure{
  align-content: center;
}

.button{
  padding-left: 10px;
  padding-right: 10px;
  align-content: center;
  background-color: darkblue;
}

div{
  background-color: brown;
  text-align: center;
  width: 25pc;
  float: left;
}

.details{
  background-color: brown;
  text-align: center;
  width: 12pc;
  padding: 10px;
}

#featured-content{
  text-align: center;
  width: 800px;
}

figcaption{
  text-align: center;
  font-size: smaller;
}

img{
  display: flex;
  justify-content: center;
  align-items: center;
}

.centre-img{
  display: flex;
  justify-content: center;
  align-items: center;
}